body{
    background-color: rgb(25, 25, 25);
}
/*Navigation Bar Start*/
.topnav {
    background-color: rgb(51, 51, 51);
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 100px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5vh 2vw;
    text-decoration: none;
    font-size: 17px;
}
.topnav b {
    position: absolute;
    left: 1vw; 
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5vh 2vw;
    text-decoration: none;
    font-size: 17px;
}
/*Navigation Bar End*/
  h1{
    text-align: center;
      font-size: 50px;
      font-family: "Times New Roman";
  }

  h2{
      font-size: 35px;
      font-family: "Times New Roman";
  }

  h3{
      font-size: 28px;
      font-family: "Times New Roman";
  }

  h4{
      font-size: 20px;
      font-family: "Times New Roman";
  }

  p{
      font-family: "Times New Roman";
  }
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .essay{
      text-indent: 50px;
      line-height: 2;
      margin-right: 25%;
      margin-left: 25%;
      color: white;
      text-shadow: 1px 1px blue;
  }
  .essayheader h1 {
    color: white;
    text-shadow: 1px 1px blue;
  }
  .essayheader b {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 5px;
    color: white;
    text-shadow: 1px 1px blue;
}