body {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    background-color: rgb(25, 25, 25);
}   
box {
    display: block;
    width: 75vw;
    height: 75vh;
    overflow-y:auto;
    background-color: rgba(211, 211, 211, 0.185);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-radius: 10px;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
}
a {
    color: white;
    text-shadow: 1px 1px blue;
}
p {
    text-align: center;
    position: relative;
    font-size: 16px;
    top: 2vh;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px blue;
}
h1 {
    text-align: center;
    position: relative;
    font-size: 24px;
    top: 2vh;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px blue;
}

h2 {
    text-align: center;
    position: relative;
    font-size: 16px;
    top: 2vh;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px blue;
}
h3 {
    text-align: center;
    position: relative;
    font-size: 30px;
    top: 2vh;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px blue;
}
/*Navigation Bar Start*/
.topnav {
    background-color: rgb(51, 51, 51);
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 100px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5vh 2vw;
    text-decoration: none;
    font-size: 17px;
}
.topnav b {
    position: absolute;
    left: 1vw; 
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5vh 2vw;
    text-decoration: none;
    font-size: 17px;
}
/*  Former Theme Button
.topnav button {
    position: absolute;
    right: 2vw; 
    float: right;
    background-color: rgb(51, 51, 51);
    color: #ffffff;
    text-align: center;
    padding: 1.5vh 2vw;
    text-decoration: none;
    font-size: 17px;
    border: none;
}
*/
/*Navigation Bar End*/
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px;
    width: 75vw;
    height: 75vh;
    overflow-y:auto;
    background-color: rgba(211, 211, 211, 0.185);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-radius: 10px;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
}